<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to MetImp!</title>
		<meta name="description" content="A Metric Imperial Converter" />
		<link
			id="favicon"
			rel="icon"
			href="https://hyperdev.com/favicon-app.ico"
			type="image/x-icon"
		/>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<header>
			<h1>
				Metric/Imp Converter
			</h1>
		</header>

		<form action="/api/convert" method="GET">
			<input type="text" name="input" />
			<button type="submit">Submit</button>
		</form>

		<script>
			// $(function() {
			// 	$('#convertForm').submit(function() {
			// 		event.preventDefault();
			// 		$.ajax({
			// 			url: '/api/convert',
			// 			type: 'get',
			// 			data: $('#convertForm').serialize(),
			// 			success: function(data) {
			// 				$('#result').text(data.string || data);
			// 				$('#jsonResult').text(JSON.stringify(data));
			// 			},
			// 		});
			// 	});
			// });
		</script>
	</body>
</html>
